{% extends "base.html" %}
{% block content %}

    {{ company[1]["name"] }}

    <h2>{{ page_title }}</h2>
    <p>Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and the Hobbit Bilbo Baggins, led by
        Thorin Oakenshield in TA 2941. Their purpose was to regain the lost Dwarven kingdom of the Lonely Mountain from
        the dragon Smaug.</p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
            <p>Thorin II "Oakenshield", eventually called King under the Mountain or Mountain King,[1] was the son of
                Thráin II, the older brother of Frerccin and Dís, the grandson of King Thrór and the uncle of Fíli and
                Kíli. Thorin was best known for his deeds as leader of a company that infiltrated the lost Kingdom under
                the Mountain to take it back from Smaug and for leading an alliance of Men, Dwarves, and Elves in the
                Battle of Five Armies.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/e/e6/Thorin_king_under_the_mountain_by_gravity_zero-ddur2td.jpg" alt="Thorin Oakenshield">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <h3>Fili and Kili</h3>
            <p>Fíli and Kíli were Dwarvern brothers and were also the youngest of the thirteen Dwarves who set out with
                Thorin Oakenshield's company, along with Gandalf and Bilbo Baggins, to reclaim the Lonely Mountain from
                the dragon Smaug.
            </p>
        </div>
        <div class="col-md-7">
            <img src="https://static.wikia.nocookie.net/lotr/images/d/dd/Fili_and_Kili_at_Bag_End.jpg" alt="Fili and Kili">
        </div>
    </div>
    
{% endblock %}